/* Navbar styles */
.navbar {
  background-color: #333;
  padding: 15px 0;
}

.nav-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.burger-menu {
  display: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Hamburger Menu */
@media only screen and (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 20px;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links a {
      margin: 10px 0;
  }

  .burger-menu {
      display: block;
  }
}
